<!DOCTYPE html>
<html lang="en" ng-app="forumDizajnu">
<head>
  <title>Forum dizajnu</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/app.css"/>

</head>

<body >

<!-- Toolbar -->
<div ng-controller="toolbarCtrl" class="gridListdemoBasicUsage">

  <md-toolbar class="blue">

    <div class="md-toolbar-tools" >
      <md-icon id="menu" md-svg-icon="./assets/svg/menu.svg" ng-click="toggleLeft()"></md-icon>

      <a ui-sref="home"><label><b>Forum</b>dizajnu.<b>sk</b></label></a>



      <span flex></span>

      <md-input-container md-no-float>
        <label>hladaj produkty, inspiracie, ...</label>
        <input type="text" />
      </md-input-container>
      <md-button  class="md-icon-button" id="searchButton">
        <md-icon md-svg-icon="./assets/svg/search.svg"></md-icon>
      </md-button>

      <md-icon id="regLoginIcon" md-svg-icon="./assets/svg/login.svg"></md-icon>
      <label>Prihlasenie</label>

      <md-icon id="regPersonIcon" md-svg-icon="./assets/svg/person.svg"></md-icon>

      <label>Registracia</label>

    </div>
  </md-toolbar>
</div>

<!--TABS-->
<div ng-controller="tabsCtrl" >

  <md-tabs md-dynamic-height="false" md-theme="themeProvider" class="md-primary" md-no-bar>

    <md-tab  ng-repeat="tab in tabsData" ui-sref="{{tab.hrefName}}">

      <md-content  >

        <md-tab-label>{{tab.name}}</md-tab-label>



        <md-tab-body >
          <!-- CONTENT -->
          <div  class="gridListdemoBasicUsage" ui-view>
          </div>

        </md-tab-body>
      </md-content>

    </md-tab>

  </md-tabs>
  <!-- HOME PAGE -->


  <!-- SIDENAV LEFT -->
  <div  ng-controller="toolbarCtrl" class="gridListdemoBasicUsage"  layout="column" >


      <md-sidenav  class="md-sidenav-left white" md-component-id="left" id="leftSideNav">
        <md-toolbar class="chocolate">

          <div class="md-toolbar-tools">
            <md-icon  ng-click="close()" id="close" md-svg-icon="./assets/svg/close.svg"></md-icon>
            <label ng-click="close()">Zavrieť</label>
          </div>
        </md-toolbar>

        <md-toolbar class="white">

          <div class="md-toolbar-tools">

            <md-icon  ng-hide="categoryOff" ng-click="categoryClick()"  id="categoryOff" md-svg-icon="./assets/svg/right.svg"></md-icon>
            <md-icon  ng-hide="categoryOn"  ng-click="categoryClick()"  id="categoryOn" md-svg-icon="./assets/svg/down.svg"></md-icon>

            <label ng-click="categoryClick()">Kategorie</label>
          </div>


        </md-toolbar>
        <hr>

        <!-- Category Details -->
        <div ng-hide="categoryDetails" ng-repeat="categoryDetail in details">
          <md-toolbar class="white"  >

            <div class="md-toolbar-tools">
              <label id="categoryDetails">{{categoryDetail}}</label>

            </div>
          </md-toolbar>
          <hr>
        </div>
      </md-sidenav>


  </div>



</div>


<md-content class="gridListdemoBasicUsage">

  <!-- NEWSLETTER -->
  <md-toolbar class=" md-tall green"    >

    <div layout="row" layout-align="space-between center" class="md-toolbar-tools" style="margin-top:-20px;"  >
      <h4 >Newsletter</h4>
      <h4 >Forumdizajnu</h4>
      <h4 >Buďte v kontakte</h4>
    </div>

    <!--
  <div layout="row" class="md-toolbar-tools">
  <md-input-container >
    <label style="color:white">@email.sk</label>
    <input type="text" />
  </md-input-container>
  <md-button  class="md-icon-button" id="searchButton">
    <md-icon md-svg-icon="./assets/svg/search.svg"></md-icon>
  </md-button>

  <span >
  <ul style="text-align:center; font-size:17px;list-style-type: none" >
    <li><a href="#">O nás</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Mapa stránok</a></li>
    <li><a href="#">Spolupráca</a></li>

  </ul>
    </span>
  <span >
  <md-icon  md-svg-icon="./assets/svg/facebook.svg"></md-icon>
  <md-icon  md-svg-icon="./assets/svg/twitter.svg"></md-icon>
  <md-icon md-svg-icon="./assets/svg/google_plus.svg"></md-icon>
  <md-icon   md-svg-icon="./assets/svg/linkedin.svg"></md-icon>
  </span>

  </div>
  -->

  </md-toolbar>
  <!-- COPYRIGHT -->
  <md-toolbar class="blue"  >
    <label style="padding: 1%" style="padding-left:5%">Copyright &copy Forumdizajnu.sk 2015</label>
  </md-toolbar>

</md-content>


<!-- LIBRARIES-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="client/home/home.js"></script>
<script type="text/javascript" src="client/inspirations/inspirations.js"></script>
<script type="text/javascript" src="client/products/products.js"></script>
<script type="text/javascript" src="client/specialists/specialists.js"></script>
<script type="text/javascript" src="client/forum/forum.js"></script>
<script type="text/javascript" src="client/articles/articles.js"></script>

</body>
</html>
