<div class="gridListdemoBasicUsage" flex="25">
  <md-dialog aria-label="Mango (Fruit)" class="white" >
      <md-toolbar >
        <div class="md-toolbar-tools " >
          <md-button style="position: absolute;right:5%" class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="assets/svg/close.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content >
        <div layout="column" layout-align="center center" >
        <form ng-submit="register(user)">
        <md-input-container >
          <label >Meno</label>
          <input ng-model="user.firstName" type="text"  />
        </md-input-container>

        <md-input-container >
          <label >Priezvisko</label>
          <input ng-model="user.lastName" type="text">
        </md-input-container>

        <md-input-container>
          <label >E-mail</label>
          <input ng-model="user.email" type="email">
        </md-input-container>

        <md-input-container >
          <label >Heslo</label>
          <input ng-model="user.password1" type="password">
        </md-input-container>

        <md-input-container>
          <label >Znova zadajte heslo</label>
          <input ng-model="user.password2" type="password">
        </md-input-container>

          <md-input-container >
            <label>Datum narodenia</label>
            <input type="date" ng-model="user.date_of_birth">
          </md-input-container>
          <md-radio-group ng-model="user.gender">
            <md-radio-button value="Muž" class="md-primary">Muž</md-radio-button>
            <md-radio-button value="Žena">Žena</md-radio-button>
          </md-radio-group>

          <div layout="row" layout-align="center center" >

        <md-button style="margin-top:10%;"  type="submit"  class="green">Zaregistrovať sa</md-button>
          </div>
        </form>

        </div>

      </md-dialog-content>
  </md-dialog>
</div>
