<div class="gridListdemoBasicUsage" flex="30">
  <md-dialog aria-label="Mango (Fruit)" class="white" >
      <md-toolbar >
        <div class="md-toolbar-tools " >
          <md-button style="position: absolute;right:5%" class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="assets/svg/close.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div layout="column" layout-align="center center" >
        <form ng-submit="register(firstName,lastName,email,password1,date_of_birth,gender)" name="registerForm">
        <md-input-container>
          <label >Meno</label>
          <input ng-model="firstName" type="text" required/>

        </md-input-container>

        <md-input-container >
          <label >Priezvisko</label>
          <input ng-model="lastName" type="text" required>
        </md-input-container>

        <md-input-container>
          <label >E-mail</label>
          <input ng-model="email" type="email" required>
        </md-input-container>

        <md-input-container >
          <label >Heslo</label>
          <input ng-model="password1" type="password" required name="password1" minlength="6">
          <div ng-messages="registerForm.password1.$error">
            <div ng-message="minlength">Dĺžka hesla musí byť aspoň 6 znakov</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label >Znova zadajte heslo</label>
          <input ng-model="password2" type="password" required name="password2" minlength="6" compare-to="password1">
          <div ng-messages="registerForm.password2.$error">
            <div ng-message="compareTo">Heslo sa nezhoduje</div>
          </div>
        </md-input-container>

          <md-input-container >
            <label>Datum narodenia</label>
            <input type="date" ng-model="date_of_birth" required>
          </md-input-container>
          <md-radio-group ng-model="gender">
            <md-radio-button value="male" class="md-primary">Muž</md-radio-button>
            <md-radio-button value="female">Žena</md-radio-button>
          </md-radio-group >

          <div layout="row" layout-align="center center" >

        <md-button style="margin-top:10%;"  type="submit"  class="green">Zaregistrovať sa</md-button>
          </div>
        </form>

        </div>

      </md-dialog-content>
  </md-dialog>
</div>
