
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
md-input-container.md-default-theme label,input,
md-input-container.md-default-theme .md-placeholder{
  color:white !important;
}

md-toolbar
{
  padding-left: 20px;
  padding-right: 110px;
  padding-top: 10px;
}
#searchButton
{
  margin-right: 100px;
}


#regLoginIcon,#regPersonIcon
{
  margin-right: 5px;
  margin-left: 30px;
}


/*CONTENT*/
.gridListdemoBasicUsage .gray {
  background: #696969; }
.gridListdemoBasicUsage .green {
  background: #4CAF50; }
.gridListdemoBasicUsage .imgColor {
  background: #708090; }

.gridListdemoBasicUsage .chocolate {
  background: #D2691E; }
.gridListdemoBasicUsage .blue {
  background: #3f51b5; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #FF6347; }
.gridListdemoBasicUsage .orange {
  background: #FF8C00; }


.gridListdemoBasicUsage .white{
  background: #FFFAFA; }
h1
{
  color:white;
}
a label
{
  cursor: pointer;
}

.imgHome
{
  height:528px;
  width:800px;
}

#contentSideNav
{
  padding-left: 20px;
  padding-top: 10px;
}

#menu,#close,#categoryOn,#categoryOff,#categoryDetails
{
  margin-right: 20px;
  margin-left: 0px;
  cursor:pointer;
}

#leftSideNav label
{
  color:black;
}

#leftSideNav md-icon
{
  color:black;
}

md-card {
  min-height: 150px;

}

#tabDescription,.imageDescription
{
  text-align:center;
}
a
{
  text-decoration: none;
}
