
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
md-input-container.md-default-theme label,input,
md-input-container.md-default-theme .md-placeholder{
  color:white !important;
}


md-toolbar
{
  padding-left: 20px;
  padding-right: 110px;
  padding-top: 10px;
}
#searchButton
{
  margin-right: 100px;
}


#regLoginIcon
{
  margin-right: 5px;
  margin-left: 30px;
}


