
html, body {
  height:100%;
  min-width: 1024px;
  margin: 0px;
  padding: 0px;

}
md-input-container.md-default-theme label,input,
md-input-container.md-default-theme .md-placeholder{
  color:black;
}
md-toolbar
{
  padding-left: 20px;
  padding-right: 110px;
  padding-top: 10px;
}
#searchButton
{
  margin-right: 100px;
}
.cursorPointer
{
  cursor:pointer;
}
#regPersonIcon
{
  margin-right: 5px;
  margin-left: 30px;
}
.regLoginIcon
{
  margin-right: 5px;
  margin-left: 30px;
}

/*CONTENT*/
.gridListdemoBasicUsage .gray {
  background: #696969; }
.gridListdemoBasicUsage .green {
  background: #4CAF50; }
.gridListdemoBasicUsage .imgColor {
  background: #708090; }

.gridListdemoBasicUsage .chocolate {
  background: #D2691E; }
.gridListdemoBasicUsage .blue {
  background: #3f51b5; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #FF6347; }
.gridListdemoBasicUsage .orange {
  background: #FF8C00; }


.gridListdemoBasicUsage .white{
  background: #FFFAFA; }
h1
{
  color:white;
}
a label
{
  cursor: pointer;
}

.imgHome
{
  height:100%;
  width:100%;
}

.productBottom
 {
  position: absolute;
  bottom: -20%;
  height:20%;
  left: 0;
  width: 100%;
  background-color: lightgray;
}

#contentSideNav
{
  padding-left: 20px;
  padding-top: 10px;
}

#menu,#close,#categoryOn,#categoryOff,#categoryDetails
{
  margin-right: 20px;
  margin-left: 0px;
  cursor:pointer;
}

#leftSideNav label
{
  color:black;
}

#leftSideNav md-icon
{
  color:black;
}

md-card {
  min-height: 250px;
  margin:0px;
  padding:0px;

}

.imageDescription
{
  text-align: center;
}

a
{
  text-decoration: none;
}

/*KATE PARRY*/[md-header-picture] {
                position: relative;
                width:100%;
                height:0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
                padding-bottom: 56.25%;
                overflow:hidden;
                background-size:160%; /* You can override this value if your picture has a weird ratio */
                background-position:50% 50%;
              }

[scroll] {
  position:fixed;
  top:0;
}

/* I made a simple scale animation on float action button during scroll */

.main-fab {
  position:absolute;
  left: calc(100% - 70px);
  z-index: 20;
  transform:scale(1,1);
  transition: transform .1s ease-out;
}

.main-fab.hide {
  transform:scale(0,0);
  transition: transform .1s ease-out;
}

/* Lines of code below are just here to get a better aspect but optionnal */
section {
  height: 1600px;
}

i {
  font-size:24px;
}

.md-tools {
  width: 40px;
}

.muted {
  color: #bbb;
  font-size: inherit;
  font-weight: 700;
  text-align: left;
}

.md-tile-left {
  margin-right:0!important;
  padding-left:24px;
  color: rgb(63,81,181);
}

.pageOrange
{
  background-color: orange;
}
.pageGray
{
  background-color: gray;
}


/* ALPHA*/

.container {
  width : 100%;
  height: 100%;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

/*PRODUCT DETAIL*/
.productDetailLabel
{
  color:black;
  font-size:25px;
}
.productDetailGridList
{
  margin: 3% 2% 2% 7%;
}
.rightTileProductDetail
{
  color:black;
}
#toShopButton
{

  background-color: orange;
}
.priceLabel
{
  font-size: 20px;
}



.otherLabel a
{
  color:orange;

}


.otherLabel
{
  font-size:15px;
  color:black;
}

.separator
{
  margin-top: 7%;
  margin-bottom: 7%;
  color:black;
}
.bottomToolbar
{
  margin-bottom:5%;
  margin-top:-2%;
  margin-left:7%;
  width:44.7%;
}
