<md-grid-list ng-repeat="item in tabsData"
  md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
  md-row-height="2:2"
    >

  <!-- left IMAGE, RIGHT CONTENT-->
  <md-grid-tile ng-if="($index % 2) == 0"
                md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <img class="imgHome"  ng-src="{{item.imgSrc}}"/>

  </md-grid-tile>

  <md-grid-tile ng-if="($index % 2) == 0"  class="{{item.color}}"
                md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <div layout="column" layout-align="center center">
      <h1 class="imageDescription">{{item.description}}</h1>
      <md-button  class="md-raised md-primary" ui-sref="{{item.hrefName}}">Prejsť na {{item.imgName}}</md-button>
    </div>
  </md-grid-tile>

  <!-- left CONTENT, RIGHT IMAGE-->

  <md-grid-tile ng-if="($index % 2) == 1" class="{{item.color}}"
                md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <div layout="column" layout-align="center center">
      <h1 class="imageDescription">{{item.description}}</h1>
    <md-button  class="md-raised md-primary" ui-sref="{{item.hrefName}}">Prejsť na {{item.imgName}}</md-button>
    </div>

  </md-grid-tile>


  <md-grid-tile ng-if="($index % 2) == 1"
    md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <img class="imgHome"ng-src="{{item.imgSrc}}"/>

  </md-grid-tile>


<!-- COPYRIGHT -->
</md-grid-list>

<md-content>

  <!-- NEWSLETTER -->
  <md-toolbar class="md-tall " class="green"  >
<div layout="row" layout-align="space-around center" style="margin-top:-30px" >
      <h4 >Newsletter</h4>
      <h4 >Forumdizajnu</h4>
      <h4>Buďte v kontakte</h4>
</div>

<div layout="row" class="md-toolbar-tools">
  <md-input-container style="padding-left: 100px">
    <label style="color:white">@email.sk</label>
    <input type="text" />
  </md-input-container>
  <md-button  class="md-icon-button" id="searchButton">
    <md-icon md-svg-icon="./assets/svg/search.svg"></md-icon>
  </md-button>
  <span layout="row">
  <ul style="padding-left: 125px; text-align:center; font-size:17px; padding-bottom:20px;list-style-type: none" >
    <li>O nás</li>
    <li>Kontakt</li>
    <li>Mapa stránok</li>
    <li>Spolupráca</li>

  </ul>
    </span>
  <p style="padding-left: 500px">fdfd</p>


</div>
<!--    -->

  </md-toolbar>
  <!-- COPYRIGHT -->
  <md-toolbar class="blue">
    </div>
  </md-toolbar>

</md-content>
