<div ng-repeat="product in products" ng-if="product.id == id">

  <md-grid-list class="productDetailGridList"
                  md-cols-sm="1" md-cols-md="1" md-cols-gt-md="6"
                  md-row-height="1:1" md-gutter="2%"
    >
    <!-- left IMAGE, RIGHT CONTENT-->
    <label class="productDetailLabel" >{{product.name}}</label>

    <md-grid-tile
                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
      <div class="container" ng-controller="homeController">

        <img class="imgHome" ng-src="./assets/pictures/products.jpg" />

      </div>
    </md-grid-tile>
    <md-grid-tile
                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
     <md-grid-tile-header style="background-color: white;height: 100%" layout-align="start start">
       <div class="rightTileProductDetail">
         <label class="priceLabel">{{(product.price | number:2) + "€"}} s DPH</label>
         <md-button id="toShopButton" class="md-raised">Do obchodu</md-button>
         <br>
         <hr class="separator">
         <label  class="otherLabel"><b>Farba: </b>{{product.color}}</label>
         <br><br>
         <label class="otherLabel"><b>Štýl: </b>{{product.style}}</label>
         <br><br>
         <label class="otherLabel"><b>Rozmery: </b>{{product.dimensions}}</label>
         <hr class="separator">
         <label class="otherLabel">Informácie o produkte</label>
         <br><br>
         <label class="otherLabel"><b>Obchod: </b><a href="http://www.{{product.shop}}">{{product.shop}}</a></label>
         <br><br>
         <label class="otherLabel"><b>Kategória: </b><a href="#">{{product.category}}</a></label>
         <br><br>
         <label class="otherLabel"><b>Výrobca: </b><a href="#">{{product.producer}}</a></label>

       </div>
     </md-grid-tile-header>
        </md-grid-tile>

    <!-- BOTTOM GRID TILE -->
<md-grid-tile md-rowspan="1" md-colspan="3" md-colspan-sm="1">

  <md-toolbar class="gray" style="margin-bottom:20%" layout="row" >
    <div class="md-toolbar-tools" >

    <md-button  class="md-icon-button" >
      <md-icon md-svg-icon="./assets/svg/question_mark.svg"></md-icon>
    </md-button>


    <md-input-container style="width:50%;" md-no-float>
      <label style="color:white">Zadajte otázku / dopyt</label>
      <input style="color:white" type="text" />
    </md-input-container>
</div>
  </md-toolbar>

</md-grid-tile>

</md-grid-list>

  </div>

