<div ng-controller="productsController">
<md-card class="gray" layout="row" layout-align="center center">
  <md-card-content >
    <h1 id="tabDescription" class="md-title">{{tab.description}}</h1>
  </md-card-content>
</md-card>
<div layout="row" layout-align="space-between center" style="padding: 10px 7% 0 7%">
  <div>
    <md-button class="orange" class="md-raised " >L</md-button>
    <md-button class="md-raised">M</md-button>
    <md-button class="md-raised">S</md-button>
  </div>
  <md-select   ng-model="someModel" placeholder="Zobraziť produkty">
    <md-option  ng-repeat="item in selectCategories" value="{{item.keyword}}">{{ item.name}}</md-option>

  </md-select>
</div>

<!--GRID PRODUCTS-->
<md-grid-list
  style="margin:40px 7% 40px 7%"
              md-cols-sm="1" md-cols-md="1" md-cols-gt-md="4"
                md-row-height="2:2" md-gutter="7%"
  >
  <md-grid-tile ng-repeat="product in products" ng-if="!($index > 15)"
                md-rowspan="1" md-colspan="1" md-colspan-sm="1" >
    <md-grid-tile-header class="orange" style="width:50%;margin-top:5%">
      <h3 style="margin-left:5px;">Odporúčané</h3>
    </md-grid-tile-header>

    <img  class="imgHome"  ng-src="./assets/pictures/products.jpg"/>


    <md-grid-tile-footer >
      <h3>Postel SOFT</h3>

    </md-grid-tile-footer>

    <div id="skuska" layout="row" layout-align="space-between center">
      <b  style="margin-left:3%"><label>{{(product.price | number:2) + "€"}}</label></b>

      <span style="cursor: pointer" ng-click="productDetail()" >
        <label style="cursor: pointer" >Pozrieť detail</label>
          <md-icon style="cursor: pointer"  md-svg-icon="./assets/svg/right.svg"></md-icon>
      </span>
    </div>
  </md-grid-tile>

</div>
