
<div ng-hide="" ng-controller="productsController">
<md-card class="gray" layout="row" layout-align="center center">
  <md-card-content >
    <h1 id="tabDescription" class="md-title">{{tab.description}}</h1>
  </md-card-content>
</md-card>

  <div layout="row" layout-align="space-between center" style="padding: 10px 7% 0 7%">
  <div>
    <md-button class="orange" class="md-raised " >L</md-button>
    <md-button class="md-raised " style="background-color: gray">M</md-button>
    <md-button class="md-raised" style="background-color: gray">S</md-button>
  </div>
  <md-select   ng-model="someModel" placeholder="Zobraziť produkty">
    <md-option  ng-repeat="item in selectCategories" value="{{item.keyword}}">{{ item.name}}</md-option>

  </md-select>
</div>

<!--GRID PRODUCTS-->
  <md-grid-list
    style="margin:40px 7% 7% 7%"
    md-cols-sm="1" md-cols-md="1" md-cols-gt-md="4"
    md-row-height="2:2" md-gutter="7%">

    <md-grid-tile ng-repeat="product in products | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage"
                  md-rowspan="1" md-colspan="1" md-colspan-sm="1" >

      <md-grid-tile-header  class="orange" style="width:50%;margin-top:5%">
        <h3 style="margin-left:5px;">Odporúčané</h3>
      </md-grid-tile-header>
      <img  class="imgHome"  ng-src="./assets/pictures/products.jpg"/>


      <md-grid-tile-footer >
        <h3>Postel SOFT</h3>

      </md-grid-tile-footer>

      <div id="skuska" layout="row" layout-align="space-between center">
        <b  style="margin-left:3%"><label>{{(product.price | number:2) + "€"}}</label></b>

      <span style="cursor: pointer" ui-sref="products.detail({productId: $index})" >
        <label style="cursor: pointer" >Pozrieť detail</label>
          <md-icon style="cursor: pointer"  md-svg-icon="./assets/svg/right.svg"></md-icon>
      </span>

      </div>
    </md-grid-tile>
  </md-grid-list>
  <div layout="row" layout-align="center center" style="position:absolute;margin-top: -5%;margin-left:35%" >
    <md-button ng-class="DisablePrevPage()" ng-click="prevPage()" style="background-color: orange;">Späť</md-button>
    <md-button ng-repeat="n in range()" ng-class="{pageOrange: n == currentPage, pageGray: n != currentPage}" ng-click="setPage(n)"

      >{{n+1}}</md-button>
    <md-button ng-class="DisableNextPage()" ng-click="nextPage()" style="background-color: orange;">Ďalej</md-button>
  </div>

  </div>
<div ui-view="">

</div>
